<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>
    <table>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getId()}"></td>
            <td th:text="${car.getMark()}"></td>
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getYear()}"></td>
        </tr>
    </table>
</div>
</body>

<style>
    table{
        margin: 0 auto;
        border-collapse: collapse;
    }
    table td{
        width: 100px;
        padding-left: 5px;
        border: gray 1px solid;
    }
    table td:first-child {
        width: 25px;
    }
</style>
</html>